# Arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Arquivos de log e de erro do Terraform
*.log
*.error

# Diretório do Terraform
.terraform/

# Arquivos de backup do Terraform
*.tfbackup

# Arquivos de configuração específicos do ambiente
*.tfvars

# Diretórios de build e artefatos de compilação
/build/
/bin/
/out/

# Outros arquivos e diretórios temporários ou específicos do desenvolvedor
*.tmp
.DS_Store
